#teaser-about {
    height: 96px;
    background-color: $green;

    h1 {
        margin-top: 24px;
        margin-bottom: 10px;
    }
}

#about {
    @extend %section;
    background-color: $dark-brown;

    p {
        color: $yellow;
    }

    .header {
        height: 70px;
    }

    .container, .container-fluid {
        margin-top: 60px;
        margin-bottom: 40px;

        #about-copy-column {
            .two-columns {
                margin: 0;
                padding: 0;
                @include prefix('column-gap', 30px);
            }
        }

        #about-photo-column {
            bottom: 0;
            img {
                margin-bottom: -40px;
                position: relative;
                left: 50%;
                margin-left: -122px;
            }
        }
    } 
}