#case-study {
    @extend %section;
    margin: 0;
    padding: 0;
    background-color: $white;

    h3 {
        align: left;
        color: $medium-brown;
    }

    p {
        font-size: $font-size-h4;
    } 

    .container, .container-fluid {
        padding-top: 15px;
        padding-bottom: 35px;
    }

    .col-md-6 {
        h3 {
            text-align: left;
        }
        img {
            margin: 20px 20px 0 20px;
            float: left;
            border: 5px solid $light-brown;
        }
        p {
            margin-left: 20px;
        }
    }

    .overlay {
        @extend %placeholder;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}