#teaser-contact {
    height: 80px;
    background-color: $green;

    h2 {
        margin-top: 18px;
        margin-bottom: 6px;
    }
}

#contact {
    @extend %section;
    position: fixed;
    background-color: $dark-brown;
    z-index: -1000;

    font-size: $font-size-h4;
    color: $yellow;

    .container {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    #feedback {
        h3 {
            margin-top: 10px;
            // padding: 0; 
        }
        p {
            text-align: center;
        }
    }

    form {
        #error {
            margin-top: 12px;
            margin-bottom: 12px;
            float: left;
            font-size: $font-size-h4;
            color: $yellow;
            // visibility: hidden;
        }

        input {
            margin-top: 12px;
            margin-bottom: 12px;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
            }
        }

        .text-input {
            font-size: $font-size-h4;
            border-bottom: 2px solid $green;
            color: $white;
            &:focus {
                border-bottom: 2px solid $yellow;
            }
            @include prefix-content('placeholder') {
                color: $green;
            }
        }

        .button {
            padding: 0;
            font-family: $font-family-sans-serif-bold;
            font-size: $font-size-h4;
            color: $yellow;
            text-transform: uppercase;
        }

        #name, #email {
            width: 45%;
        }

        #name {
            float: left;
        }

        #email {
            float: right;
        }

        #message {
            width: 100%;
        }

        #send {
            float: right;
        }
    }

    #contact-details {
        float: right;

        p {
            margin-top: 12px;
            margin-left: 42px;
        }

        strong {
            font-family: $font-family-sans-serif-bold;
        }

        #phone {
            height: 32px;
            background: url(../images/phone_icon.png) top left no-repeat;
            background-size: 30px 32px;
        }

        #address {
            background: url(../images/address_icon.png) top left no-repeat;
            background-size: 30px 40px;
        }
    }
}

#contact-util {
    @extend %section;
    display: block;
}

#copyright {
    @extend %section;
    position: fixed;
    background-color: $green;
    z-index: -1100;
    p {
        margin: 10px;
        color: $dark-brown;
    }
}