.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav {
    position: relative;
    margin-top: 20px;
    margin-right: 16px;
}

.nav-pills > li > a {
    text-transform: uppercase;
}