#logo {
    position: fixed;
    margin: 10px;
    z-index: 1500;
}

.nav {
    position: relative;
    margin-top: 20px;
    margin-right: 16px;
}

.nav-pills > li > a {
    text-transform: uppercase;
}