#teaser-contact {
    height: 80px;
    background-color: $medium-brown;

    h2 {
        margin-top: 18px;
        margin-bottom: 6px;
    }
}

#contact {
    @extend %section;
    background-color: $white;
    padding-bottom: 500px;
    z-index: -1000;

    .container {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    form {
        input {
            margin-top: 12px;
            margin-bottom: 12px;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
            }
        }

        .text-input {
            font-size: $font-size-h4;
            border-bottom: 2px solid $green;
            color: $dark-brown;
            &:focus {
                border-bottom: 2px solid $medium-brown;
            }
            @include input-placeholder {
                color: $green;
            }
        }

        .button {
            padding: 0;
            font-family: $font-family-sans-serif-bold;
            font-size: $font-size-h4;
            color: $medium-brown;
            text-transform: uppercase;
            &:hover {
                color: $dark-brown;
            }
        }

        #name-input, #email-input {
            width: 45%;
        }

        #name-input {
            float: left;
        }

        #email-input {
            float: right;
        }

        #message-input {
            width: 100%;
        }

        #send-button {
            float: right;
        }
    }

    #contact-details {
        float: right;
        font-size: $font-size-h4;
        color: $dark-brown;

        p {
            margin-top: 12px;
            margin-left: 42px;
        }

        strong {
            font-family: $font-family-sans-serif-bold;
        }

        #phone {
            height: 32px;
            background: url(../images/phone_icon.png) top left no-repeat;
            background-size: 30px 32px;
        }

        #address {
            background: url(../images/address_icon.png) top left no-repeat;
            background-size: 30px 40px;
        }
    }
}