$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// Partials
@import "partials/config";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

#logo {
    position: relative;
    margin: 10px;
}

a {
    font-family: $font-family-sans-serif-bold;
}

h1, h2, h3{
    text-align: center;
    color: $white;
}

.selected {
    color: $white;
}

.nav {
    position: relative;
    margin-top: 20px;
    margin-right: 16px;
}

.nav-pills > li > a {
    text-transform: uppercase;
}

%section {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

.teaser {
    @extend %section;

    .arrow {
        width: 72px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background: url(../images/teaser_arrow.png) top left no-repeat;
    }
}

.pattern {
    width: 100%;
    height: 12px;
    background: url(../images/arrow_pattern.png) repeat-x;
}

.shadow-up {
    width: 100%;
    height: 6px;
    margin-top: -6px;
    background: url(../images/shadow_up.png) repeat-x;
}

.shadow-down {
    width: 100%;
    height: 4px;
    background: url(../images/shadow_down.png) repeat-x;
}

#landing {
    @extend %section;
    top: 0;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    background-attachment:fixed;
}

#teaser-about {
    height: 96px;
    background-color: $green;

    h1 {
        margin-top: 24px;
        margin-bottom: 10px;
    }
}

#about {
    @extend %section;
    background-color: $dark-brown;

    h1 {
        margin-bottom: 24px;
    }

    p {
        color: $yellow;
    }

    .header {
        height: 70px;
    }
}

#teaser-interiors {
    height: 75px;
    background-color: $green;
    z-index: 1000;

    h2 {
        margin-top: 18px;
        // margin-bottom: 28px;
    }

    .shadow-down, .arrow {
        position: absolute;
        top: 75px;
    }

    .arrow {
        left: 50%;
        margin-left: -36px;
    }
}

%placeholder {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}

#interiors {
    @extend %section;
    @extend %placeholder;
}

#case-study {
    @extend %section;
    margin: 0;
    padding: 0;
    background-color: $white;

    .container, .container-fluid, .row, {
        margin: 0;
        padding: 0;
    }

    .col-md-4 {
        margin: 0;
        //padding: 20px 20px;
    }

    #cell1, #cell4, #cell5 {
        background-color: $dark-brown;
        color: $yellow;
    } 

    #cell2, #cell3, #cell6 {
        background-color: $medium-brown;
        color: $yellow;
    }

    p {
        font-size: 16px;
    } 

    .overlay {
        @extend %placeholder;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

#product-design {
    @extend %section;
    @extend %placeholder;
    background-color: $white;
}

#teaser-contact {
    height: 80px;
    background-color: $medium-brown;

    h2 {
        margin-top: 18px;
        margin-bottom: 6px;
    }
}

#contact {
    @extend %section;
    // margin-top: -200px;
    background-color: $dark-brown;
    padding-bottom: 500px;
    z-index: -1000;

    .container {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    form {
        input {
            margin-top: 12px;
            margin-bottom: 12px;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
            }
        }

        .text-input {
            font-size: $font-size-h4;
            border-bottom: 2px solid $green;
            &:focus {
                border-bottom: 2px solid $yellow;
            }
        }

        .button {
            padding: 0;
            font-family: $font-family-sans-serif-bold;
            font-size: $font-size-h4;
            color: $yellow;
            text-transform: uppercase;
        }

        #name-input, #email-input {
            width: 45%;
        }

        #name-input {
            float: left;
        }

        #email-input {
            float: right;
        }

        #message-input {
            width: 100%;
        }

        #send-button {
            float: right;
        }
    }

    #contact-details {
        float: right;
        font-size: $font-size-h4;
        color: $yellow;

        p {
            margin-top: 12px;
            margin-left: 42px;
        }

        strong {
            font-family: $font-family-sans-serif-bold;
        }

        #phone {
            height: 32px;
            background: url(../images/phone_icon.png) top left no-repeat;
            background-size: 30px 32px;
        }

        #address {
            background: url(../images/address_icon.png) top left no-repeat;
            background-size: 30px 40px;
        }
    }
}